.tasks {
    background-color: #ffffff;
    margin-top: 10px;
    word-break: break-word;
}

.tasks__title {
    border-bottom: 2px solid #e2dfdf;
    padding: 20px;
    font-size: 20px;
}

.tasks__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 22px;
}

.tasksList__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid rgb(193, 193, 193);
}

.tasks__list--buttonDone {
    margin: 10px 15px;
    background-color: #13e113;
    color: #ffffff;
    height: 30px;
    width: 30px;
}

.tasks__list--buttonDone:hover {
    background-color: hsl(120, 84%, 58%);
}

.tasks__list--buttonRemove {
    background-color: #e11313;
    color: #ffffff;
    height: 30px;
    width: 30px;
    margin: 10px 15px;
}

.tasks__list--buttonRemove:hover {
    background-color: hsl(0, 84%, 58%);
}

.list__item--done {
    text-decoration: line-through;
}